/* reset css script */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset css script */
body{
    background-color: rgb(34, 34, 34);
}
h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}
.container{
    justify-items: center;
    width: 30%;
    background-color: white;
    border-radius: 1%;
}

#error {
    background-color: rgb(233, 99, 99);
    color: white;
    text-align: center;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 3%;
    opacity:1;
    transition:opacity 500ms;
    /* display: none; */
}

/* login form style */
#loginForm {
    display: flex;
    flex-direction: column;
    padding: 5%;
}
#loginForm input {
    margin-top: 4px;
}
#loginForm #submit {
    margin-top: 25px;
    margin-bottom: 9px;
}

input[type=text], input[type=password] {
    padding: 10px 13px;
}

input[type=submit]{
    padding: 10px 13px;
    background-color: #50CB93;
    color: white;
    border: none;
}
input[type=submit]:hover {
    background-color: #39a373;
    cursor: pointer;
    
}

@media only screen and (max-width: 723px) {
    h1 {
        font-size: 28px;
    }
    #error p{
        font-size: 10px;
    }

}

@media only screen and (max-width: 477px) {
    h1 {
        font-size: 25px;
    }
    #error p{
        font-size: 8px;
    }

}